<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item > .d-block > img,
  .carousel-inner > .item > .d-block > a > img {
    display:block;
    height: 20em;
    margin: auto;
    position: center;
    padding-top: 20px;
  }
  .carousel-inner > .item > .d-block {
    margin:auto;
  }
  .carousel-inner{
  overflow: visible;
  }
  .carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}
.carousel-inner > .item > .bg-dark {
    background-color: #362602!important;
}
  </style>
</head>
<body>
<% if @person %>
    <div>
        <h1><%= @person.name %></h1>
        <h3><%= @person.credit %></h3>
    </div>
<% end %>
<div class="container">
    <br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators my-4">
        <% i = 0 %>
        <% while i < @movies.length %>
            <% if i== 0 %>
                <li data-target="#myCarousel" data-slide-to="<%= i %>" class="active"></li>
            <% else %>
                <li data-target="#myCarousel" data-slide-to="<%= i %>"></li>
            <% end %>
            <% i += 1 %>
        <% end %>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            
            <% i= 0 %>
            <% while i < @movies.length %>
                <% if i == 0 %>
                    <div class="item active">
                <% else %>
                    <div class="item">
                <% end %>

                <div class="d-block w-100"><%= link_to image_tag(src="#{@movies[i][:img_url]}", style:'height:300px'), movie_path(@movies[i]) %></div>
          
                        <div class="carousel-caption d-none d-md-block bg-dark mb-4">
                            <h3><%=@movies[i][:title]%></h3>
                            <h3><%=@movies[i][:edition]%></h3>
                            <% if @person %>
                                <% if @moviepeople[i][:character] != ''%>
                                    <h3>Character: <%=@moviepeople[i][:character]%></h3>
                                <% end %>
                                <% if @moviepeople[i][:other_names] != ''%>
                                    <h5>Other Names: <%=@moviepeople[i][:other_names]%></h5>
                                <% end %>
                                <% if @moviepeople[i][:title_or_position] != '' %>
                                    <h5>Title or Position: <%=@moviepeople[i][:title_or_position]%></h5>
                                <% end %>
                                <% if @moviepeople[i][:location] != ''%>
                                    <h5>Location(s): <%=@moviepeople[i][:location]%></h5>
                                <% end %>
                            <% end %>
                        </div>
                        
                    </div>
                    
                <% i+=1 %>
            <% end %>

        </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>




</body>
</html>