<% if logged_in? %>
    
    <img src=<%= @movie.img_url %> height="300em"><br>
    <h3>Title: <%= @movie.title %></h3><br>
    <h5>Edition: <%= @movie.edition %></h5><br>
    <h5>Length: <%= @movie.length %> minutes</h5><br>
    <h5>Rating: <%= @movie.rating %></h5><br>
    <h5>Year Released: <%= @movie.year %></h5><br>
    <h5>Genres: <%= @movie.genres %></h5><br>
    <h5>Plot: <%= @movie.plot_summary %></h5><br>
    
    
    <ul>Fun Facts:
        <li><%= @movie.fun_fact_1 %></li><br>
        <li><%= @movie.fun_fact_2 %></li><br>
        <li><%= @movie.fun_fact_3 %></li><br>
    </ul>
    
    <ul>Review Scores: 
        <li>IMDB Score: <%= @movie.imdb_review %></li><br>
        <li>Metacritic Score: <%= @movie.metacritic_review %></li><br>
        <li>Rotten Tomato Score: <%= @movie.rotten_tomato_review %></li><br>
    </ul>
    <% if current_user.movies.include?(@movie) %>
        <% @user_movie = current_user.user_movies.find_by(movie_id: @movie.id)%>
        <h5>Your Review Score: <%= @user_movie.user_rating %></h5><br>
        <h5>Your Notes: <%= @user_movie.user_notes %></h5><br>
        <h5>Your Personal Notes: <%= @user_movie.private_notes %></h5><br>
    <% else %>
        <h3>This movie is currently not part of your collection.  Would you like to <%= link_to "add it now?", new_lotr_path(current_user, @movie)%> </h3><br>
    <% end %>
    <a class="brn-link" href="<%= @movie.imdb_link %>">Imdb Link</a><br>
    <a class="brn-link" href="<%= @movie.trailer %>">Link to trailer</a><br>
    <br>
    <br>
    


<% else %>
    <img src=<%= @movie.img_url %> height="300em"><br>
    <h3>Title: <%= @movie.title %></h3><br>
    <h5>Edition: <%= @movie.edition %></h5><br>
    <h5>Length: <%= @movie.length %> minutes</h5><br>
    <h5>Rating: <%= @movie.rating %></h5><br>
    <h5>Year Released: <%= @movie.year %></h5><br>
    <h5>Genres: <%= @movie.genres %></h5><br>
    <h5>Plot: <%= @movie.plot_summary %></h5><br>
    <ul>Review Scores: 
        <li>IMDB Score: <%= @movie.imdb_review %></li><br>
        <li>Metacritic Score: <%= @movie.metacritic_review %></li><br>
        <li>Rotten Tomato Score: <%= @movie.rotten_tomato_review %></li><br>
    </ul>
    <ul>Fun Facts:
        <li><%= @movie.fun_fact_1 %></li><br>
        <li><%= @movie.fun_fact_2 %></li><br>
        <li><%= @movie.fun_fact_3 %></li><br>
    </ul>
    <a href="<%= @movie.imdb_link %>">Imdb Link</a><br>
    <a href="<%= @movie.trailer %>">Link to trailer</a><br>
    <br>
    <br>
<% end %>
