<div>
    <h2><%= "Hello #{@user.name}!  What would you like to do today?" %></h2><br>
</div>
<% if @errors %>
    <%= @errors[:message] %>
<% end %>
<div>   
    <h4><%= link_to("See Smaug's hoard", movies_path ) %></h4>
    <h4><%= link_to("See your hoard", user_movies_path(@user)) %></h4>
    <h4><%= link_to("Change your destiny", edit_user_path(@user)) %></h4>
</div>
